//CORES

$cor-pri: #55c57a;
$cor-pri-clara: #7ed56f;
$cor-pri-escura: #28b485;

$cor-sec-clara: #ffb900;
$cor-sec-escura: #ff7730;

$cor-tec-clara: #2998ff;
$cor-tec-escura: #5643fa;

$cor-cinza-escuro: #777;
$cor-cinza-escuro-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$cor-branca: #fff;
$cor-preto: #000;

$cor-cinza-clara-1: #f7f7f7;
$cor-cinza-clara-2: #eee;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT

$default-font-size: 1.6rem;