.card{
    //FUNCIONALIDADES

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    &__side{
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($cor-preto, .15);
        &--front{
            background-color: $cor-branca;
        }

        &--back{
            transform: rotateY(-180deg);
            
            &-1{
                background-image: linear-gradient(to right bottom, $cor-sec-clara, $cor-sec-escura);  
            }
            &-2{
                background-image: linear-gradient(to right bottom, $cor-pri-clara, $cor-pri-escura);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $cor-tec-clara, $cor-tec-escura);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    
    //ESTILO FRONTAL 
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1{
              background-image: linear-gradient(to right bottom, $cor-sec-clara, $cor-sec-escura), url('../img/nat-5.jpg');  

        }

        &--2{ 
            background-image: linear-gradient(to right bottom, $cor-pri-clara, $cor-pri-escura), url('../img/nat-6.jpg');
        }

        &--3{
            background-image: linear-gradient(to right bottom, $cor-tec-clara, $cor-tec-escura), url('../img/nat-7.jpg');
        }
    }
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $cor-branca;
        position: absolute;
        top: 13rem;
        right: 2rem;
        width: 75%;
    }
    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom, 
                              rgba($cor-sec-clara, .85), 
                              rgba($cor-sec-escura, .85))
        }
        &--2{
            background-image: linear-gradient(to right bottom, 
                              rgba($cor-pri-clara, .85), 
                              rgba($cor-pri-escura, .85))
        }
        &--3{
            background-image: linear-gradient(to right bottom, 
                              rgba($cor-tec-clara, .85), 
                              rgba($cor-tec-escura, .85))
        }
    }
    &__details{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;    
                padding: 1rem;

                &:not(:last-of-type){
                    border-bottom: 1px solid $cor-cinza-escuro-2;
                }
            }
        }
    }

    //ESTILO PARTE DE TRÁS
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    &__price-box{
        text-align: center;
        color: $cor-branca;
        margin-bottom: 8rem;
        width: 90%;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;

    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}

