.heading-primary {
  color: $cor-branca;
  text-transform: uppercase;
  backface-visibility: hidden; /* Isso serve para corrigir o erro 
                                 de chacalhagem quando termina a
                                 animação*/
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 2s ease-out;
  }
}


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $cor-cinza-escuro;
  padding: 3rem;
  
}